.nav-link::before,
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
  z-index: 2;
}

.nav-link::before {
  background-color: #235aa6;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
}

.nav-link::after {
  background-color: #f25757;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link:hover::before,
.nav-link:hover::after {
  width: 100%;
  left: 0;
}
